@mixin centerItem($width) {
    width: $width;
    margin: auto;
}

.form-container {
    display: flex;
    flex-flow: column;
    margin-top: 2%;

    &__error{
        color: red;
        margin-bottom: 10px;
        text-align: center;
    }
    &__title {
        @include centerItem($width:45%);
        margin-bottom: 1%;
        height:45px
        
    }

    &__body {
        @include centerItem($width:45%);
        max-height:200px;
        max-width: 80%;
        height:100px;
        
    }

    &__submit {
        width: 10%;
        margin-left: 80%;
    }

    &__chars-left {
        margin-left: 9.5%;
    }
}